<section class="organizers panel">
<h2>Organizatorzy</h2>
<div class="organizers-grid">
    <div class="organizers-group">
        <div class="organizer-logo">
            <a href="https://wmat.pwr.edu.pl/" target="_blank" rel="noopener noreferrer">
                <img src="organizers/wydzial.png" alt="wydzial matematyki logo">
            </a>
        </div>
        <div class="organizer-logo">
            <a href="https://www.facebook.com/matpwr" target="_blank" rel="noopener noreferrer">
                <img src="organizers/samorzad.png" alt="samorzad studentów logo">
            </a>
        </div>
    </div>
    <div class="organizers-group">
        <a href="https://www.facebook.com/KNIF.PWr.wroc" target="_blank" rel="noopener noreferrer" class="organizer-logo">
                <img src="organizers/Logo_KNIF.svg" alt="knif">
        </a>
        <a href="https://gauss.pwr.edu.pl/" target="_blank" rel="noopener noreferrer" class="organizer-logo">
                <img src="organizers/gauss.png" alt="gauss">
        </a>
        <a href="https://knm.im.pwr.edu.pl/" target="_blank" rel="noopener noreferrer" class="organizer-logo">
            <img src="organizers/knm.png" alt="knm">
        </a>
    </div>
</div>
    
</section>